Repository trucknet-io/trucknet-boilerplate-typescript-react: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": [
    "tslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.tsx": [
    "tslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ]
}

:heavy_minus_sign: Removed Favicon webpack plugin because of memeory leak issue
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

[DEV] test scripts;
  package.json
Due: prettier --write

:bug: Base href in index.html
  src/index.ejs
Due: none

chore: 🤖 [#162855942] Updated to trucknet-commit and trucknet-prettier-config
  .commitlintrc
  .commitpromptrc
  .czrc
  .gitlab-ci.yml
  .huskyrc
  .lintstagedrc
  .nvmrc
  .prettierrc
  .prettierrc.js
  README.md
  package-lock.json
  package.json
  src/components/HelloWorld/HelloWorld.js
  src/components/HelloWorld/HelloWorld.js.map
  src/components/HelloWorld/HelloWorld.spec.js
  src/components/HelloWorld/HelloWorld.spec.js.map
  src/components/HelloWorld/HelloWorld.stories.js
  src/components/HelloWorld/HelloWorld.stories.js.map
  src/components/HelloWorld/index.js
  src/components/HelloWorld/index.js.map
  src/contexts/theme.js
  src/contexts/theme.js.map
  src/index.js
  src/index.js.map
  src/layout/App.js
  src/layout/App.js.map
  src/layout/App.spec.js
  src/layout/App.spec.js.map
  src/layout/Body.js
  src/layout/Body.js.map
  src/layout/Header.js
  src/layout/Header.js.map
  src/pages/Dashboard.js
  src/pages/Dashboard.js.map
Due: prettier --write

chore: 🤖 [#162855942] Removed coverage and js files. Updated .gitignore
  .gitignore
  coverage/badge-branches.svg
  coverage/badge-functions.svg
  coverage/badge-lines.svg
  coverage/badge-statements.svg
  src/components/HelloWorld/HelloWorld.js
  src/components/HelloWorld/HelloWorld.js.map
  src/components/HelloWorld/HelloWorld.spec.js
  src/components/HelloWorld/HelloWorld.spec.js.map
  src/components/HelloWorld/HelloWorld.stories.js
  src/components/HelloWorld/HelloWorld.stories.js.map
  src/components/HelloWorld/index.js
  src/components/HelloWorld/index.js.map
  src/contexts/theme.js
  src/contexts/theme.js.map
  src/index.js
  src/index.js.map
  src/layout/App.js
  src/layout/App.js.map
  src/layout/App.spec.js
  src/layout/App.spec.js.map
  src/layout/Body.js
  src/layout/Body.js.map
  src/layout/Header.js
  src/layout/Header.js.map
  src/pages/Dashboard.js
  src/pages/Dashboard.js.map
Due: none

refactor: ♻️ [#162855942] Updated deps
  package-lock.json
  package.json
  src/layout/Header.tsx
Due: tslint --fix, prettier --write

chore: 🤖 [#162855942] Release script
  extra/deployment/release.sh
  package.json
Due: prettier --write

chore: 🤖 [#162855942] Updated permissions for release script
  extra/deployment/release.sh
Due: none

chore: 🤖 [#162855942] Fixed clean script
  package.json
Due: prettier --write

chore: 🤖 [#162855942] Fixed webpack configs for storybook and main project
  .storybook/webpack.config.js
  .vscode/settings.json
  webpack.config.js
Due: prettier --write

release: 🏹 v1.1.0
  package-lock.json
  package.json
Due: prettier --write

chore: changed TS, VS Code configs, changed version and README update
  .vscode/settings.json
  README.md
  package.json
  tsconfig.json
Due: prettier --write

chore(deps): 🤖 Updated deps
  package-lock.json
  package.json
Due: prettier --write

feat: ✨ Changed test library; Rewrote tests; Updated all prettier and tslint
  .vscode/launch.json
  __helpers__/enzyme.ts
  __helpers__/index.ts
  jest.config.js
  package-lock.json
  package.json
  src/components/HelloWorld/HelloWorld.spec.tsx
  src/components/HelloWorld/HelloWorld.stories.tsx
  src/contexts/theme.tsx
  src/layout/App.spec.tsx
  src/layout/App.tsx
  tslint.json
Due: tslint --fix, prettier --write

chore(tsconfig): 🤖 Updated definitions location
  definitions/images.d.ts
  images.d.ts
  tsconfig.json
Due: tslint --fix, prettier --write

docs: 📝 README
  README.md
Due: none

chore: 🤖 tsc should be run only for changed files on commit to save time
  .lintstagedrc
  package.json
Due: prettier --write

chore(deps): 🤖 Added hot-loader
  package-lock.json
  package.json
Due: prettier --write

chore(example): 🤖 Made HelloWorld example better
  .lintstagedrc
  package.json
  src/components/HelloWorld/HelloWorld.spec.tsx
  src/components/HelloWorld/HelloWorld.tsx
  webpack.config.js
Due: tslint --fix, prettier --write

chore(Storybook): 🤖 Added props from TypeScript to storybook
  .storybook/config.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
Due: prettier --write

chore(storybook): 🤖 Inline mode in storybook info by default
  .storybook/config.js
Due: none

chore(Lint scripts): 🤖 Added --noEmit to lint scripts
  package.json
Due: prettier --write

chore(webpack): 🤖 Hot reload is on
  src/config/reactHotLoader.ts
  src/index.tsx
  src/layouts/App.spec.tsx
  src/layouts/App.tsx
  src/layouts/Body.tsx
  src/layouts/Header.tsx
  webpack.config.js
Due: tslint --fix, prettier --write

feat(storybook): ✨ Added actions and a11y plugins + webpack loading bar
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
  src/components/HelloWorld/HelloWorld.spec.tsx
  src/components/HelloWorld/HelloWorld.stories.tsx
  src/components/HelloWorld/HelloWorld.tsx
  webpack.config.js
Due: tslint --fix, prettier --write

feat(storybook): ✨ Added knobs and smart-knobs
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
  src/components/HelloWorld/HelloWorld.stories.tsx
Due: tslint --fix, prettier --write

feat: ✨ Improved perfomance, added markdown support
  .gitignore
  .storybook/webpack.config.js
  @types/images/index.d.ts
  @types/markdown/index.d.ts
  __mocks__/mdMock.js
  jest.config.js
  package-lock.json
  package.json
  src/components/HelloWorld/HelloWorld.spec.tsx
  src/components/HelloWorld/HelloWorld.tsx
  src/components/HelloWorld/index.ts
  src/components/HelloWorld/text.md
  tsconfig.json
  webpack.config.js
Due: tslint --fix, prettier --write

chore(webpack): 🤖 es-check to check all bundle for es5 compatibility
  package-lock.json
  package.json
Due: prettier --write

chore(storybook): 🤖 Storybook config for .md files
  .storybook/webpack.config.js
Due: none

feat(storybook): ✨ Readme of the component inside storybook
  .storybook/webpack.config.js
  src/components/HelloWorld/HelloWorld.stories.tsx
  src/components/HelloWorld/README.md
Due: tslint --fix, prettier --write

feat(storybook): ✨ Storybook Addon Console added
  .storybook/config.js
  package-lock.json
  package.json
Due: prettier --write

feat(strorybook): ✨ Viewport addon
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
Due: prettier --write

feat(storybook): ✨ Background addon with Trucknet'\''s settings
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
Due: prettier --write

feat(webpack): ✨ Images import + rewrite to use Material UI
  .storybook/webpack.config.js
  @types/images/generate.js
  @types/images/index.d.ts
  __mocks__/fileMock.js
  config/filesExts.js
  jest.config.js
  src/components/HelloWorld/HelloWorld.stories.tsx
  src/components/HelloWorld/HelloWorld.styles.ts
  src/components/HelloWorld/HelloWorld.tsx
  src/components/HelloWorld/rick.png
  webpack.config.js
Due: tslint --fix, prettier --write

wip(i18n): 🚧 Added lioness and gettext-utils, thinking of translations architecture
  @types/lioness/index.d.ts
  package-lock.json
  package.json
  src/i18n/en.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/i18n/translations.json
  src/layouts/App.tsx
  src/layouts/Header.tsx
  tsconfig.json
Due: tslint --fix, prettier --write

wip(i18n): 🚧 Translation flow
  .gitignore
  @types/lioness/index.d.ts
  package.json
  src/i18n/en.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/i18n/translations.json
Due: tslint --fix, prettier --write

wip: intl;
  .storybook/addonds/storybook-addon-lioness/.babelrc
  .storybook/addonds/storybook-addon-lioness/.editorconfig
  .storybook/addonds/storybook-addon-lioness/.gitignore
  .storybook/addonds/storybook-addon-lioness/.npmignore
  .storybook/addonds/storybook-addon-lioness/.storybook/addons.js
  .storybook/addonds/storybook-addon-lioness/.storybook/config.js
  .storybook/addonds/storybook-addon-lioness/.storybook/stories.js
  .storybook/addonds/storybook-addon-lioness/.travis.yml
  .storybook/addonds/storybook-addon-lioness/CODE_OF_CONDUCT.md
  .storybook/addonds/storybook-addon-lioness/LICENSE
  .storybook/addonds/storybook-addon-lioness/README.md
  .storybook/addonds/storybook-addon-lioness/docs/screenshot.png
  .storybook/addonds/storybook-addon-lioness/package.json
  .storybook/addonds/storybook-addon-lioness/register.js
  .storybook/addonds/storybook-addon-lioness/scripts/build.js
  .storybook/addonds/storybook-addon-lioness/scripts/installPeerDependencies.js
  .storybook/addonds/storybook-addon-lioness/src/__tests__/utils.js
  .storybook/addonds/storybook-addon-lioness/src/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/__tests__/__snapshots__/index.js.snap
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/__tests__/style.js
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/style.js
  .storybook/addonds/storybook-addon-lioness/src/manager/containers/LocalePanel/__tests__/__snapshots__/index.js.snap
  .storybook/addonds/storybook-addon-lioness/src/manager/containers/LocalePanel/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/containers/LocalePanel/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/index.js
  .storybook/addonds/storybook-addon-lioness/src/preview/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/preview/containers/WithIntl/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/preview/containers/WithIntl/index.js
  .storybook/addonds/storybook-addon-lioness/src/preview/index.js
  .storybook/addonds/storybook-addon-lioness/src/shared/index.js
  .storybook/addons.js
  .storybook/config.js
  src/components/examples/HelloWorld/HelloWorld.tsx
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: tslint --fix, prettier --write

chore(storybook): 🤖 DELETED storybook addon lioness
  .storybook/addonds/storybook-addon-lioness/.babelrc
  .storybook/addonds/storybook-addon-lioness/.editorconfig
  .storybook/addonds/storybook-addon-lioness/.gitignore
  .storybook/addonds/storybook-addon-lioness/.npmignore
  .storybook/addonds/storybook-addon-lioness/.storybook/addons.js
  .storybook/addonds/storybook-addon-lioness/.storybook/config.js
  .storybook/addonds/storybook-addon-lioness/.storybook/stories.js
  .storybook/addonds/storybook-addon-lioness/.travis.yml
  .storybook/addonds/storybook-addon-lioness/CODE_OF_CONDUCT.md
  .storybook/addonds/storybook-addon-lioness/LICENSE
  .storybook/addonds/storybook-addon-lioness/README.md
  .storybook/addonds/storybook-addon-lioness/docs/screenshot.png
  .storybook/addonds/storybook-addon-lioness/package.json
  .storybook/addonds/storybook-addon-lioness/register.js
  .storybook/addonds/storybook-addon-lioness/scripts/build.js
  .storybook/addonds/storybook-addon-lioness/scripts/installPeerDependencies.js
  .storybook/addonds/storybook-addon-lioness/src/__tests__/utils.js
  .storybook/addonds/storybook-addon-lioness/src/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/__tests__/__snapshots__/index.js.snap
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/__tests__/style.js
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/components/LocaleButton/style.js
  .storybook/addonds/storybook-addon-lioness/src/manager/containers/LocalePanel/__tests__/__snapshots__/index.js.snap
  .storybook/addonds/storybook-addon-lioness/src/manager/containers/LocalePanel/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/containers/LocalePanel/index.js
  .storybook/addonds/storybook-addon-lioness/src/manager/index.js
  .storybook/addonds/storybook-addon-lioness/src/preview/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/preview/containers/WithIntl/__tests__/index.js
  .storybook/addonds/storybook-addon-lioness/src/preview/containers/WithIntl/index.js
  .storybook/addonds/storybook-addon-lioness/src/preview/index.js
  .storybook/addonds/storybook-addon-lioness/src/shared/index.js
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: prettier --write

chore(storybook): 🤖 Removed old plugin register
  .storybook/addons.js
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: none

Revert "chore(i18n): 🤖 DELETED lioness, rewritten to ttag"
  .storybook/config.js
  package-lock.json
  package.json
  src/components/T/T.tsx
  src/components/T/index.ts
  src/components/examples/HelloWorld/HelloWorld.tsx
  src/contexts/LocaleContext.tsx
  src/layouts/App/RootProvider.tsx
  src/layouts/Header/Header.tsx
  tslint.json
Due: tslint --fix, prettier --write
