Repository trucknet-io/trucknet-boilerplate-typescript-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, tsc

feat(router): ✨ Added react-router
  package-lock.json
  package.json
  src/components/ButtonLink/ButtonLink.styles.tsx
  src/components/ButtonLink/ButtonLink.tsx
  src/components/ButtonLink/index.ts
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/layouts/App/App.tsx
  src/layouts/Body.tsx
  src/layouts/Header/Header.tsx
  src/pages/Clock.tsx
  src/pages/Dashboard.tsx
  src/pages/NotFound.tsx
  src/pages/index.tsx
Due: prettier --write, tslint --fix, tsc

feat(SVG): ✨ svg rendered
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/examples/SvgRender/SvgRender.styles.ts
  src/components/examples/SvgRender/SvgRender.tsx
  src/components/examples/SvgRender/index.tsx
  src/components/examples/SvgRender/rick.svg
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/layouts/Header/Header.tsx
  src/pages/SvgRender.tsx
  src/pages/index.tsx
  tslint.json
Due: prettier --write, tslint --fix, tsc

fix(deps): 🐛 react-router version upped to 5.0.0
  package-lock.json
  package.json
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: prettier --write

fix(storybook): 🐛 Storybook is back working!
  .storybook/config.js
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: none

wip(storybook): 🚧 Wrote a test sotry for the Clock component without withStyles HOC
  src/components/examples/Clock/Clock.stories.tsx
  src/components/examples/Clock/Clock.tsx
  src/components/examples/Clock/README.md
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: prettier --write, tslint --fix, tsc

chore(deps): 🤖 Storybook is updated!
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: prettier --write

feat(sentry): ✨ Added sentry init to project
  .env-cmdrc
  README.md
  package-lock.json
  package.json
  src/config/env.ts
  src/errorReporting.ts
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  webpack.config.js
Due: prettier --write, tslint --fix, tsc

feat(sentry): ✨ Sentry refactored + uploading source maps on build
  .env-cmdrc
  .sentryclirc
  README.md
  config/errorReporting/config.js
  config/errorReporting/frontend.js
  config/errorReporting/webpack.js
  package-lock.json
  package.json
  src/errorReporting.ts
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  webpack.config.js
Due: prettier --write, tslint --fix, tsc

fix(i18n): 🐛 Should not update translations files if nothing was changed
  package-lock.json
  package.json
Due: prettier --write

feat(storybook): ✨ Added material-ui to storybook plugins
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
Due: prettier --write

test(jest): 💍 Jest updated, added a wrapper for locale-specific components
  __utils__/renderWithIntl.tsx
  __utils__/renderWithRouter.tsx
  package-lock.json
  package.json
  src/components/examples/HelloWorld/HelloWorld.spec.tsx
  src/layouts/App.spec.tsx
  tsconfig.json
Due: prettier --write, tslint --fix, tsc

chore(structure): 🤖 Moved deployment to config folder
  config/deployment/release.sh
  package.json
Due: prettier --write

fix(jss-rtl): 🐛 Use styles as a function to make sure, jss-rtl works
  src/components/examples/Clock/Clock.styles.tsx
  src/components/examples/HelloWorld/HelloWorld.styles.ts
Due: prettier --write, tslint --fix, tsc

wip(storybook): 🚧 Added storybook-i18n addon. Working before publishing it
  .storybook/addons.js
  .storybook/config.js
  .storybook/preview-head.html
  package-lock.json
  package.json
  src/layouts/App/MuiLocaleProvider.tsx
  src/layouts/App/RootProvider.tsx
Due: prettier --write, tslint --fix, tsc

chore: 🤖 Npm versioon and vs code settings
  .vscode/settings.json
  package.json
Due: prettier --write

chore(deps): 🤖 Published storybook-intl
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
Due: prettier --write

release: 🏹 v0.1.0
  package-lock.json
  package.json
Due: prettier --write

fix: 🐛 Added prelint script to fix CI fail
  package.json
Due: prettier --write

fix: 🐛 Storybook fixes and updates [#167000342]
  .storybook/webpack.config.js
  __utils__/renderWithIntl.tsx
  package-lock.json
  package.json
  src/components/examples/Clock/Clock.stories.tsx
  src/components/examples/HelloWorld/HelloWorld.stories.tsx
  src/components/examples/HelloWorld/HelloWorld.tsx
  src/components/examples/SvgRender/SvgRender.tsx
  src/index.tsx
  src/layouts/App/MuiLocaleProvider.tsx
  src/utils/locale.spec.ts
  tsconfig.json
Due: prettier --write, tslint --fix, tsc

fix: 🐛 Fixed locale changing issue in Storybook for withLocale components
  .storybook/config.js
  package-lock.json
  src/contexts/LocaleContext.tsx
  src/layouts/App/StorybookLocaleProvider.tsx
Due: prettier --write, tslint --fix, tsc

release: 🏹 v0.1.1
  package-lock.json
  package.json
Due: prettier --write

feat: ✨ Added storybook addon knobs [#163862699]
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
  src/components/examples/Clock/Clock.stories.tsx
  src/components/examples/HelloWorld/HelloWorld.stories.tsx
Due: prettier --write, tslint --fix, tsc

chore: 🤖 Improved clean script to remove all the cache [#163862699]
  package.json
Due: prettier --write

feat: ✨ Added e2e testing with cypress [#163862699]
  .env-cmdrc
  config/errorReporting/frontend.js
  config/errorReporting/isSentryConfigured.front.js
  config/errorReporting/isSentryConfigured.node.js
  config/errorReporting/webpack.js
  cypress.json
  cypress/.gitignore
  cypress/fixtures/example.json
  cypress/integration/e2e/tests/001_ExampleTest.ts
  cypress/plugins/index.js
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  cypress/webpack.config.js
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, tslint --fix, tsc

chore: 🤖 Build with production deps only [#163862699]
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

chore: 🤖 Better date-fns usage to reduce final bundle size [#163862699]
  src/components/FormattedDate/FormattedDate.tsx
Due: prettier --write, tslint --fix, tsc

chore: 🤖 Enable tree-shaking for material-ui@3.x [#163862699]
  src/components/ButtonLink/ButtonLink.styles.tsx
  src/components/ButtonLink/ButtonLink.tsx
  src/components/examples/Clock/Clock.styles.tsx
  src/components/examples/Clock/Clock.tsx
  src/components/examples/HelloWorld/HelloWorld.styles.ts
  src/components/examples/HelloWorld/HelloWorld.tsx
  src/components/examples/SvgRender/SvgRender.tsx
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/layouts/Header/Header.tsx
  src/layouts/Header/LocaleSwitcher.tsx
  src/pages/NotFound.tsx
Due: prettier --write, tslint --fix, tsc

chore: 🤖 Upgraded material-ui to v4 [#163862699]
  package-lock.json
  package.json
  src/components/ButtonLink/ButtonLink.tsx
  src/config/jss.ts
  src/config/theme.ts
  src/layouts/App/MuiLocaleProvider.tsx
  src/layouts/Body.tsx
  src/pages/Clock.tsx
  src/pages/Dashboard.tsx
  src/pages/SvgRender.tsx
Due: prettier --write, tslint --fix, tsc

chore: 🤖 Potential react-dom tree-shaking improvement for the future [#163862699]
  src/index.tsx
Due: prettier --write, tslint --fix, tsc

feat: ✨ babel-polyfill replaced with typescript-polyfills-generator [#163862699]
  config/polyfills.js
  package-lock.json
  package.json
  src/index.tsx
  webpack.config.js
Due: prettier --write, tslint --fix, tsc

chore: 🤖 Generate date-fns locales [#163862699]
  .gitignore
  .storybook/config.js
  package.json
  src/components/FormattedDate/FormattedDate.tsx
  src/config/locales.ts
  src/config/locales/index.ts
  src/config/locales/locales.d.ts
  src/config/locales/locales.js
  src/contexts/LocaleContext.tsx
  src/layouts/Header/LocaleSwitcher.tsx
  src/utils/locale.spec.ts
  src/utils/locale.ts
  webpack.config.js
Due: prettier --write, tslint --fix, tsc

chore: 🤖 Polyfills config extracted to browserslistrc [#163862699]
  .browserslistrc
  config/polyfills.js
Due: none

chore: 🤖 cd replaced with --directory in serve script [#163862699]
  package.json
Due: prettier --write

chore: 🤖 Removed ENV condition for HardSourceWebpack plugin [#163862699]
  webpack.config.js
Due: none

release: 🏹 v1.0.0
  package-lock.json
  package.json
Due: prettier --write

fix(storybook): 🐛 Warnings in storybook webpack build
  src/utils/locale.ts
Due: prettier --write, tslint --fix, tsc

release: 🏹 v1.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): 🤖 date-fns update
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

chore(tslint): 🤖 tslint truckent update
  package-lock.json
  package.json
  tslint.json
Due: prettier --write

Revert "fix(storybook): 🐛 Warnings in storybook webpack build"
  src/utils/locale.ts
Due: prettier --write, tslint --fix, tsc

Path conditions:
  prettier --write: ((any of: *.json) or (any of: *.ts)) or (any of: *.tsx)
  tslint --fix: (any of: *.ts) or (any of: *.tsx)
  tsc: (any of: *.ts) or (any of: *.tsx)
